Flask[async]==3.1.0
pyTelegramBotAPI==4.26.0
pybit==5.9.0
dependency-injector==4.45.0
gunicorn==23.0.0
cryptography==44.0.2
tinkoff-investments==0.2.0b110
pandas==2.2.3
tinkoff==0.1.1
requests==2.32.3